<div container-center>
    <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="animate-charcter">Tic Tac Toe</h3>
        </div>
      </div>
</div>
<div class="game-container">
    <div class="game-board">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="id" aria-label="id" aria-describedby="button-addon2"
            [(ngModel)]="usuario.jugador">
            <button class="btn btn-outline-secondary" type="button" (click)="ingresar()" routerLink="/game" id="button-addon2">Unirse</button>
          </div>
    </div>  
</div>
