<div container-center>
    <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="animate-charcter">Tic Tac Toe</h3>
        </div>
      </div>
</div>
<div class="container">
    <div class="row">
        <div class="abs-center">
            <div class="col">
	            <p class="animated-word" routerLink="/one">Jugar</p>
            </div>
            <div class="col">
                <p class="animated-word" routerLink="/unirse">Uniser</p>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col">
            <h1 class="titulo">By Andres Sanchez</h1>
        </div>    
    </div>
</div>





